.NavigationBar {
  height: 100vh;
  background: url("../assets/images/bg/manuel-cosentino-n--CMLApjfI-unsplash.jpg");
  background-size: cover;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1,4rem 7%;
  background-color: #ee4f4f;
  border-bottom: 1px solid #513c28;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 35px;
  top: o;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;;
  color: #fff;
  font-style: italic;

}

.navbar .navbar-nav {

  color: var(--bg);
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a {
  color: #fff; 
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0 1rem;
  padding: 0.5rem; 
}
.intro {
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

.title {
  text-align: center;
  justify-content: center;
  color: rgba(255, 0, 0, 0.818);
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}

.titleh2{
  font-size: 2.5rem;
  font-weight: 750;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}

.trending {
  height: auto;
  background: white;
  background-size: cover;
}

.recom {
  font-weight: 800;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  color: #ee4f4f;
}

.aboutus {
  height: auto;
  background: url("../assets/images/bg/jmbg2.jpg");
  background-size: cover;
}

.profile {
  text-align: center;
  color:black;
}

.Wrapper {
  height: auto;
}

.Image {
  height: auto;
  background-color: black;
  margin: 5px;
  padding: 5px;
}

.images {
  height: 500px;
}

.footer{
  margin-top: 80px;
  background-color:  #D9D9D9;
}

.foot{
  padding: 20px 0;
}

.footer-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.footlinks h4{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color:#000000;
  margin-bottom: 30px;
  position: relative;
}


.footlinks h4::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 70px;
  left: 0;
  bottom: -7px;
  background:  #000000;
}

.footlinks ul li{
  margin-bottom: 15px;
}

.footlinks ul li a{
  font-size: 17px;
  color: #000000;
  display: block;
  transition: ease 0.30s;
}

.end{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 12px;
}

.social a{
  font-size: 25px;
  margin: 4px;
  height: 40px;
  width: 40px;
  color: rgb(21, 74, 74);
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: ease 0.30s;
}
.aboutbody{
  background-color: #191919;
}

.about{
  width: 100%;
  padding: 78px 0px;
}

.about img{
  height: auto;
  width: 400px;
}

.abt-text{
  width: 500px;
}

.abt-text h1{
  font-size: 60px;
  color: #000000;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.abt-text h1 span{
  color: #ee4f4f;
  letter-spacing: 1px;
}

.abt-text p{
  color: #000000;
  font-size: 24px;
  margin-bottom: 45px;
  line-height: 30px;
  letter-spacing: 1px;
}

.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.connectbtn{
  display: inline-block;
  background-color: #ee4f4f;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: ease 0.4s;
  border: 2px solid transparent;
  letter-spacing: 1px;
}